@import 'reset.css';
/*CUSTOM CSS*/

html{
    scroll-behavior: smooth;
    font-family: nimbus-sans, sans-serif;
    background-color:#F4FCF5;
/*
    overflow-x:hidden;
    overflow-y:hidden
*/
}

/*Type*/


main {
    padding-left: 3rem;
}


h1{
/*    width:60%;*/
    font-family: le-monde-livre-std, serif;
    font-size:5.5rem;
    font-weight:600;
    margin-bottom:0.6rem;
    color:#556BE2;
    line-height:1.3em;
    letter-spacing: 1.2px;
}

h1 span{
    text-decoration: underline;
}
/*ADD CODE TO SPAN UNDERLINED SUCCESS PART*/

h2{
    font-size:2rem;
    font-weight:600;
    line-height:2.4rem;
    color:#556BE2; 
}

#firstpage h2{
    color:#556BE2;
    padding:6em;
    z-index:2;
    float:left;
    position:absolute;
}
h3{
    font-size:1.8rem;
    font-weight:600;
/*    text-transform: capitalize;*/
    color:#556BE2;
    padding-bottom: .3rem
}
p{
    font-size:1.2rem;
    font-weight:300;
    line-height: 1.5rem;
    color:#556BE2;
}


body{
}

#firstpage{
    padding:0;
    overflow:hidden;
}

#statement{
    display:inline;
}
#myChoice{
/*    margin-top:7%;*/
    text-decoration:underline;
    display:inline;

}

#myChoice span{
    margin-top:7%;

}

header{
    padding:3em;
}

.vidcontainer{
    position:absolute;
    float:center;
    z-index:5;
}

#closevid {
    font-size:1.5em;
    color:#556BE2;
    margin-left:50%;
    position:absolute;
    font-weight:600;
}

.container {
    overflow:hidden;
    z-index:1;
    float:left;
    position:absolute;
}

.sliding-background {
    overflow:hidden;
  background: url("../img/firstpagebg3.png") repeat-x;
  height: 1040px;
  width: 5076px;
  animation: slide 20s linear infinite;
}

/*
.static-background {
  overflow:hidden;
  background: url("../img/Dot_pattern.png");
    
    height:550px;
    width:600px;
}
*/


@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}


/*button*/
.button{
    padding:0.4em 0.4em;
    color: #556BE2;
    border: 2px solid #556BE2; 
    text-align:center;
    border-radius:10px;
    z-index:3;
    
}

#confirmation .button{
    padding:0.6em 0.6em;
    color: #556BE2;
    border: 2px solid #556BE2; 
    text-align:center;
    border-radius:10px;
    z-index:3;
    margin-left: 42.5%;
    
}

#successform .button{
    margin-left:none;
    
}

#successdes h2{
    color:#556BE2;
    font-family: le-monde-livre-std, serif;
    margin-bottom:1em;
}

#successdes h3{
    color:#556BE2;
    font-family: le-monde-livre-std, serif;
    margin-bottom:1em;
    line-height:1.5em;
    font-size:1.2em;
    font-weight:400;
}

#successform p{
    color:#556BE2;
}

#firstbtn{
    position:absolute;
    float:center;
    width:15%;
    top: 60%;
    left:42.5%;
}

#firstbtn i{
    font-size:2em;
    margin:0.15em 0.4em;
}

.sidebutton{
    padding:1.5em 3em 3em 3em;
    color: #556BE2;
    float:center;
    text-align:center;
    
}

/*
.fas fa-arrow-right{
    position: absolute;
    left: 20%;
    top: 90%;
}
*/


.gridcontainer {
/*    padding-left:5%;*/
    display: grid;
    grid-template-columns:5% 45% 5% 40% auto;
}
.gridcontainer header {
    grid-column: 2;
}
.gridcontainer main{
    grid-column: 4;
}

.gridcontainer form{
    display:block;
}

#submitbtn {
/*    margin-left:5%;*/
    margin-right:5%;
    align-content: center;
    font-size:1.8rem;
    width: 15%;
    
    
}


#success{
    padding:3em 2em;
    margin-bottom: 1em;
    border-radius:10px;
}

#confirmation .button{
    width:15%;
}

.button:hover{
    background-color:#556BE2;
    color:#F4FCF5; 
    transition: opacity 0.1s ease-in;
    text-decoration: none;
    cursor: pointer;
}

.button:hover a{
    color:#F4FCF5;
    text-decoration: none;
}

.button:hover p{
    color:#F4FCF5;
    text-decoration: none;
    cursor: pointer;
}

.button:hover h3{
    color:#F4FCF5;
    text-decoration: none;
}

input[type=checkbox] {
    visibility: hidden;
}
input[type=checkbox]:checked ~ div.content h3 span{
/*    background: #90A0F2;*/
    display: inline;
    background-image: linear-gradient(#556BE2 50%, #90A0F2 60%);
    color: #F4FCF5;

} 
input[type=checkbox]:checked ~ section.button{
    background-color:#556BE2;
    transition: opacity 0.1s ease-in;
}

input[type=checkbox]:checked ~ section.button h3,input[type=checkbox]:checked ~section.button p{
    color:#F4FCF5;
}

a{
    color:#f4fcf5;
    font-size: 1em;
    text-align:right;
    text-decoration:none;
}

.button a{
    color: #556BE2;
    font-size: 1.5em;
    font-weight:700;
    text-transform: uppercase;

/*    margin-bottom:3em;*/
}

.button3{
    font-weight: 400; 
    vertical-align: bottom;
    text-align: center;
    color:#556BE2;
}

.submitcontain{
/*    background: white;*/
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-column: 3;
    color: #556BE2;
    text-transform: lowercase;
    margin: 2em 0em;
    padding:.6em;
    width: 8%;
    height:5%; 
    background: #f4fcf5;
/*    border: solid 4px #f4fcf5;*/
    text-align: center;
    border-radius:10px;
/*    text-decoration-color: #50ff9f;*/
    
}


.submitcontain:hover {
    /*    border: solid 4px #50ff9f;*/
    background: #f4fcf5;
}

.submitcontain:hover div{
    color: #556BE2;
}


h4{
    font-size: .8em;
    transition: 0.5s ease-in-out all;
}
/*submit button style abover^^*/
.allqs {
  font-size: 20px;
  cursor: pointer;
/*  background-color:#765eed;*/
  color: #F4FCF5;
  border: none;
  height:9vh;
  transition: 0.6s ease-out all;
  display: flex;
  min-width: 100vw;
    overflow-y: hidden;
  overflow-x:hidden;
}
/*Above is a contianer for all questions and helps start foldbale question section*/

.allqs:hover {
/*  background-color:#444;*/
  height:75vh;
}

form{
    display:grid;
    grid-template-columns: 45% 10% 45%;
    text-decoration: none;
    padding-top: 2.5rem;
}


.questions{
  width: 100%;
/*     position: fixed; */
    z-index: 2;
/*    height: 5vh;*/
    top: 0;
    left: 0;
    background-color: #556BE2;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 0em;
    min-width: 100vw;
    transition: .6s ease-in-out all;

    
    
    }
/* questions class unfolds when you click #allqs*/
.questions a:hover {
  color: #F4FCF5;
        
}

.questions .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
/*closenav button -- doesnt work right now??*/


.questions section{
    border-right: 1px solid white;
/*	padding: 2rem;*/
	text-align: center;
    flex-direction: column;
    
/*    overflow-x: hidden;*/
}

.questions form{
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
    list-style-type: decimal-leading-zero;
    cursor: default;
}
   
.questions h1{
    color:#F4FCF5;
    font-size: 2.5rem;
    font-weight:400;
    grid-column: 1;
    transition: 0.3s;
/*    margin-top: .6em;*/
    margin-bottom: .3em;
    transition: .6s ease-in-out all;
    opacity:0;
/*    text-transform: uppercase;*/
}
/*question styling*/

.questions h3{
    color:#F4FCF5;
    font-size:1rem;
    font-weight:400;
    line-height: .5em;
    padding-bottom:0;
    transition: .6s ease-in-out all;
    opacity:0;
}

.questions h3:hover {
    cursor: pointer;
/*
    padding-bottom: 2px;
    border-bottom: 1px solid #90A0F2;
*/
    display: inline;
    background-image: linear-gradient(#556BE2 50%, #90A0F2 60%);
}

.questions h4{
    font-size: 1.15rem;
    font-weight: 300;
    grid-column: 1;
    margin-bottom: 1em;
}
.options {
    grid-column: 3;
}

.questions p{
    color:white;
    opacity:0;
    transition: .6s ease-in-out all;
    font-size: 1.3em;
}

/*trying out new styling for each q*/
#plswork h3{
    font-size:3em;
    font-weight:600;
    line-height:1.3em;
}

#plswork p{
    font-size:2em;
}

#plswork2 h3{
    font-size:3em;
    font-weight:600;
    line-height:1.3em;
}

#plswork4 h3{
    font-size:3em;
    font-weight:600;
    line-height:1.3em;
}

#plswork4 p{
    font-size:2em;
}

.allqs:hover h1{
    opacity: 1;
}

.allqs:hover h3{
    opacity: 1;
}

.allqs:hover p{
    opacity: 1;
}


.content{
    text-align: left;
/*    margin-left: 2em;*/
    font-size: .45em;
    margin-bottom: .5em;
}

label{
    transition: .3s ease-in-out;
}

/*
label:hover{
    text-decoration: underline;      
}
*/

/*
#answer5{
    height: 2em;
    background: blue;
}
*/

/*
.mapparts{
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vw);
	scroll-snap-type: x mandatory;
	display: flex;
    flex-wrap: nowrap;
	overflow-x: scroll;
    width:50%;
    height: 100vh;
}
*/

#mountain{
    opacity: 1;
    position:absolute;
    top: 50%;
    width:15%;
    
}

/*
.mapparts section{
    background: #f4fcf5;
    border-right: 1px solid white;
	padding: 1rem;
	min-width: 50vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
*/


img{
    width:90%;
    height: auto;
}

/*BELOW IS FLOATING BUTTON TEST FOR FINAL.HTML ----------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  opacity: 1;
  background-color: #F4FCF5;
  margin-left: 30%;
  margin-top: 10%;
  padding: 4em 3em;
  width: 40%;
  transition: all 0.5s ease-in-out;
  
}

.modal-content p{
    font-weight:600;
    font-size: 1.2em;
    line-height: 1.35em;
    color:#556BE2;
 
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
    top: 34%;
    left: 31.5%;
    position: fixed;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 34%;
    left: 31.5%;
    position: fixed;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#btnContainer, #btnContainer2{
    position: absolute;
      bottom: 80%;
      right: 3%; 
    cursor: pointer;
}

#btnContainer2{
    position: absolute;
      bottom: 65%;
      right: 3%;
    cursor: pointer;
}

#infobtn:hover, #downloadbtn:hover{
    
    transform:scale(1.1);
    transform-origin: center;
}

#infobtn, #downloadbtn{
/*    padding: 15px 0px;*/
    z-index: ;
    box-sizing: border-box;
    border-radius: 50%;
    border: solid 2.5px #556BE2;
    width: 4.5vw;
    height:4.5vw;
    text-align: center;
    transition: .2s ease-in-out all;
    transform-origin: center;
    color:#556BE2;
    position: absolute;
    bottom: 20%;
    right: 35%;
    font-family: "Font Awesome 5 Free";
    font-size: x-large;
    padding-top:.6em;
    display:none
}
/*

#myBtn fa, .far, .fas {
    color:#FF0000;
    position: absolute;
    bottom: 20%;
    right: 35%;
    font-family: "Font Awesome 5 Free";
    font-size: x-large;}
*/


/*____________________________________________________*/

/*TOOLTIP CSS BELOW THIS POINT ----------------------------------*/
 
        a.tooltip{
            display:none;
          outline:none; 
          position: fixed;
          left:400px;
            top:100px
          z-index: 3;
            
          }

        #hov1{
            outline: none;
            position: fixed;
            left: 200px;
            top: 75px;
        }        
        
        #hov2{
            outline: none;
            position: fixed;
            left: 750px;
            top: 200px;
        }
      #hov3{
            outline: none;
          position: fixed;
            left: 1300px;
            top: 870px;
        }
      #hov4{
            outline: none;
          position: fixed;
            left: 400px;
            top: 400px;
        }
      #hov5{
            outline: none;
          position: fixed;
            left: 1000px;
            top: 200px;
        }
          
        a.tooltip strong {
            line-height:25px;
            font-size:1.2rem;
            font-weight: 600;
            
          }
        a.tooltip desc  {
            font-size:.7rem;
            transition: .5s all;
            padding: 2rem 0rem;
          }
          
        a.tooltip:hover 
          {
              text-decoration:none;
            
          } 
          

        a.tooltip span {
            
            text-align: left;
            font-size: .8rem;
            z-index:10;
            display:none; 
            padding:14px 20px;
            width:200px; 
            line-height:1.1em;
            opacity: 0;
            position: absolute;
            transition: .5s ease-in-out all;
        }
          
        a.tooltip:hover span{
            display:inline; 
/*            position:absolute; */
            color:#556BE2;
            line-height: 1.3em;
            background: white;
            opacity: 1;

            
            
/*            #b4bcdb*/
        }
        
          img{
              width:35px;
              height:35px;

          }

    
        /*CSS3 extras*/
        a.tooltip span
        {
            border-radius:15px; 
            padding: .5rem 1rem 2.4rem 1rem;
            
/*            box-shadow: 0px 0px 8px 4px #666;*/
            /*opacity: 0.8;*/
        }

  
/*MORE INFO PAGE BELOW ---------------------------------------------*/

         #moreinfo{
            scroll-snap-type: y mandatory;
        }

        #moreinfo h2{
            font-weight: 500;
            font-size: 28px;
            color: #556BE2;
        }

        #moreinfo section{
            
            padding-left:3em;
            padding-top: 6em;
            scroll-snap-align: start;

        }

        #moreinfo h4{
            font-family: le-monde-livre-std, serif;
            color:darkslategray;
            font-size: 21px;
            width:70%;
            line-height: 1.2em;
            margin-bottom: 1em;
        }

        #moreinfo h3,figcaption{
            font-size: 18px;
        }

        #moreinfo ul li{
            display: inline-block;
            font-size: 12px;
            width:9%;
            margin-top: 3em;
            padding-right: 3%;
        }

        .circ{
            height: 60px;
            width: 60px;
/*            background-color: #bbb;*/
            border-radius: 50%;
            margin:.8em;
        }

        #circ1{
            background-color: #4FFF9F;
        }
        #circ2{
            background-color: #B4BCDC;
        }
        #circ3{
            background-color: #A8A8E0;
        }
        #circ4{
            background-color: #9B96E2;
        }
        #circ5{
            background-color: #8F83E5;
        }
        #circ6{
            background-color: #8271E9;
        }
        #circ7{
            background-color: #765EED;
        }


        #moreinfo section:nth-child(1) h1, h2, p{
            color:#F4FCF5;
        }

        #moreinfo section:nth-child(1){
            height:100vh;
            background: #556BE2;
            box-sizing: border-box;

        }

        #moreinfo section:nth-child(1) p{
            font-family: le-monde-livre-std, serif;
            font-weight: 700;
            font-size: 42px;
            line-height: 1.3em;
            width:70%;
        }

        #moreinfo section:nth-child(1) h2{
            line-height: 1.2em;
            padding-bottom: .5em;
            color:#F4FCF5;
        }

/*
        #moreinfo section:nth-child(2) img{
            width: 34%;
            height: auto;
            padding:5% 7%;
        }
*/
        #charts{
            display: inline-block;
        }

        figure{
            padding:5% 7%;
        }

        figure img{
            width:34%;
            height: auto;
        }

        #key img{
            width:75%;
            height: auto;
            margin-left: 9%;
            padding: 1em 0em;
        }

        #place img{
            width:95%;
            height:auto;

        }