@import 'reset.css';
/*CUSTOM CSS*/

html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color:#F4FCF5;
}

/*Type*/


h1{
    width:75%;
    font-size:5em;
    font-weight:600;
    margin-bottom:0.6em;
    color:#FF0000;
    line-height:1.3em;
}

h1 span{
    text-decoration: underline;
}
/*ADD CODE TO SPAN UNDERLINED SUCCESS PART*/

h2{
    font-size:1.8em;
    font-weight:400;
    line-height:1.3em;
    color:#FF0000;
}

h3{
    font-size:2em;
    font-weight:600;
    text-transform: capitalize;
    color:#FF0000;
    padding-bottom: .3em
}
p{
    font-size:1em;
    font-weight:400;
    line-height: 1.5em;
    color:#FF0000;
}


body{
}

#firstpage{
    padding:6em 10em 6em 6em;
}

header{
    padding:6em 3em 3em 3em;
}


/*button*/
.button{
    margin-left:3em;
    margin-right:5em;
    padding:0.4em 0.4em;
    color: #FF0000;
    border: 4px solid #FF0000; 
    float:center;
    text-align:center;   
}
.sidebutton{
    padding:3em;
    color: #FF0000;
    float:center;
    text-align:center;
}
form{
    display:grid;
    grid-template-columns: 49% 49%;
    grid-gap:2%;
}

#success{
    padding:3.5em 2em;
    margin-bottom: 1em;
}

.button:hover{
    background-color:#FF0000;
    color:#F4FCF5; 
    transition: opacity 0.1s ease-in;
}

.button:hover p{
    color:#F4FCF5;
}

.button:hover h3{
    color:#F4FCF5;
}

input[type=checkbox] {
    visibility: hidden;
}
input[type=checkbox]:checked ~ div.content h3 span{
  background: #FF0000;
} 
input[type=checkbox]:checked ~ section.button{
    background-color:#FF0000;
    transition: opacity 0.1s ease-in;
}

input[type=checkbox]:checked ~ section.button h3,input[type=checkbox]:checked ~section.button p{
    color:#F4FCF5;
}

a{
    color:#FF0000;
    font-size: 2em;
    text-align:right;
    text-decoration:none;
}

.button a{
    margin-top:3em;
    margin-bottom:3em;
}

.allqs {
  font-size: 20px;
  cursor: pointer;
  background-color:#765eed;
  color: white;
  border: none;
  height:5vh;
    
  display: flex;
  min-width: 100vw;
}
/*Above is a contianer for all questions and helps start foldbale question section*/

.allqs:hover {
  background-color:#444;
}


.questions{
  width: 100%;
    /* position: fixed; */
    z-index: 1;
    height: 0vh;
    top: 0;
    left: 0;
    background-color: #765eed;
    overflow-x: scroll;
    transition: 0.5s;
    padding-top: 0em;
    min-width: 100vw;
    display: inline-block;
}
/* questions class unfolds when you click #allqs*/

.questions a:hover {
  color: #f1f1f1;
}

.questions .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
/*closenav button -- doesnt work right now??*/


.questions section{
    border-right: 1px solid white;
	padding: 2rem;
	text-align: center;
    flex-direction: column;
/*    overflow-x: auto;*/
}

.questions form{
    text-align: left;
    display: block;
}
   
.questions h1{
    color:white;
    font-size: 2em;
    transition: 0.3s;
    margin-bottom: .3em;
}
/*question styling*/

.questions h3{
    color:white;
}

.questions p{
    color:white;
}
.content{
    text-align: left;
    margin-left: 2em;
    font-size: .45em;
    margin-bottom: .5em;
}

label{
    transition: .3s ease-in-out;
}

label:hover{
    text-decoration: underline;      
}

#answer5{
    height: 2em;
    background: blue;
}

/*
.mapparts{
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vw);
	scroll-snap-type: x mandatory;
	display: flex;
    flex-wrap: nowrap;
	overflow-x: scroll;
    width:50%;
    height: 100vh;
}
*/

#mountain{
    opacity: 1;
    position:absolute;
    top: 50%;
    width:15%;
    
}

/*
.mapparts section{
    background: #f4fcf5;
    border-right: 1px solid white;
	padding: 1rem;
	min-width: 50vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
*/


img{
    width:90%;
    height: auto;
}

